<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--表明重用预编译的SQL语句 -->
	<settings>
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<!--类型别名定义。今后可只用CategoryVO来代替它冗长的 全限定名 -->
	<typeAliases>
		<typeAlias alias="CategoryVO" type="org.myblog.model.CategoryVO" />
		<typeAlias alias="ArticleVO" type="org.myblog.model.ArticleVO" />
		<typeAlias alias="UsersVO" type="org.myblog.model.UsersVO" />
	</typeAliases>
	
	<mappers>
		<mapper resource="org/myblog/mapper/CategoryMapper.xml" />
		<mapper resource="org/myblog/mapper/ArticleMapper.xml" />
		<mapper resource="org/myblog/mapper/UsersMapper.xml" />
	</mappers>
</configuration>