<?xml version="1.0" encoding="utf8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	 <bean id="categoryService" class="org.myblog.service.impls.CategoryServiceImpls">
        <property name="categoryDao" ref="categoryDao"></property>
     </bean>
	 <bean id="articleService" class="org.myblog.service.impls.ArticleServiceImpls">
        <property name="articleDao" ref="articleDao"></property>
     </bean>
</beans>