	/**
		normalize.css、skeletion.css 2个css文件同为首页页面初始化所需css文件
		bgstretcher.css 为首页焦点轮播图所需css文件
	*/

	@import url(normalize.css);
	@import url(skeleton.css);
	@import url(bgstretcher.css);
	@import url(articleInfo.css);
	@import url(/MyBlog_2014-12-04/resources/front_frame/bootstrap/css/font-awesome.min.css);
	
	
	/* 页面默认清理样式 */
	body
	{
		margin: 0;
		padding: 0;
		min-height: 670px;
		font-family: "Microsoft Yahei";
		overflow: hidden;
	}	
	
	/* 顶部区域样式 */
	#top
	{
		 height: 40px;
 		 width: 100%;
		 position: absolute;
		 top: 0;
		 left: 0;
		 background-color: #FFF;
 		 border-bottom: 3px solid #679ad3;
 		 font-size: 15px;
 		 font-weight: 400;
 		 color: #222;
	}
	
	/* 顶部左侧区域样式 */
	.top-left
	{
		float: left;
	}
	
	/* 顶部左侧区域ul样式 */
	.top-left ul
	{
		list-style-type: none;
		padding-left: 0;
	}
	
	/* 顶部左侧区域列表样式 */
	.top-left ul li
	{
		float: left; 
		height: 40px; 
		line-height: 40px; 
		margin-right: 10px; 
		color: #333;
	}
	
	/* 顶部左侧区域<a>标签样式 */
	.top-left ul li a 
	{
 		color: #333;  
 		text-decoration: none;
	}
	
	/* 顶部左侧区域列表文字样式 */
	.top-left ul li a.sprit 
	{
 		padding-right: 8px;
 		border-right: 1px solid #333;
	}
	
	/* 顶部右侧区域样式 */
	.top-right 
	{
 		float: right;
	}
	
	/* 顶部右侧区域<a>标签样式 */
	.top-left a 
	{
		 height: 20px;
		 margin: 10px 5px;
		 float: left;
		 line-height: 20px;
		 font-size: 14px;
		 color: #333;
		 text-decoration: none;
	}
	
	/* 顶部右侧区域<img>标签样式 */
	.top-left a img 
	{
		 margin-right: 5px;
		 float: left;
	}
	
	/* 顶部右侧区域<a>标签样式 */
	.top-right a 
	{
		 height: 20px;
		 margin: 10px 5px;
		 float: left;
		 line-height: 20px;
		 font-size: 14px;
		 color: #333;
		 text-decoration: none;
	}
	
	/* 顶部右侧区域<img>标签样式 */
	.top-right a img 
	{
		 margin-right: 5px;
		 float: left;
	}
	
	/* 顶部右侧文字活动伪类样式 */
	.top-right a:hover span
	{
		color: #679AD3;
		text-decoration: underline;
	}
	
	/* 顶部右侧搜索区域样式 */
	.searchbox 
	{
 	     float: right;
		 margin-left: 10px;
	}

	/* 顶部右侧区域搜索框样式 */
	.searchbox input.inputtext 
	{
    	border: medium none;
    	color: #333;
    	float: left;
    	height: 25px;
    	line-height: 25px;
    	padding: 0 30px 0 5px;
    	width: 161px;
    	margin: 10px 0;
    	font-size: 12px;
    	border-radius: 0;
    	position: relative;
	}
	
	/* 顶部右侧区域搜索按钮样式 */
	.searchbox input.submit 
	{
    	float: left;
    	width: 24px;	
    	height: 24px;
    	margin-left: -24px;
    	margin: 10px 0 10px -24px;
    	cursor: pointer;
	}
	/** ==============================顶部区域样式结束================================== */

	/* 头部区域样式 */
	#head 
	{
		 position: absolute;
		 top: 60px;
		 left: 0;
		 width: 100%;
		 position: relative;
	}
	
	#head .logos img
	{
		max-width: 100%;
		display: block;
		position: absolute;
		top: -100px;
		left: -40px;
	}
	
	/* 头部区域导航样式 */
	.head-nav 
	{
 		list-style: none;
	}
	
	/* 头部区域导航列表样式 */
	.head-nav li 
	{
		float: right;
		background: #16447C;
		padding: 0px 10px;
		height: 40px;
		cursor:pointer;
		position: relative;
		left: 276px;
		z-index: 3000;
		opacity: 0.7;
	}
	
	/* 头部区域导航列表<a>标签样式 */
	.head-nav li a 
	{
 		color: #FFF;
 		line-height:40px;
		font-size: 12px;
		display:block;
		padding-right:5px;
	}
	
	.head-nav li:hover
	{
		background: #3277ae;
	}
	
	/* 导航二级菜单<table>样式 */
    .head-nav table
    {
        display:none;
        padding:0px 5px 10px 0px;
        position:absolute;
        z-index:999;
        margin-left:-10px;
	}
	
	/* 导航二级菜单<table>下的<td>样式 */
    .head-nav table td
    {
        height:20px;
        min-width:110px;
        padding:5px 12px;
        white-space: nowrap;
        border-bottom: 1px dashed #979494;
        background: #16447C;
        border:0px;
	}
	
	/* 导航二级菜单<table>下的<a>样式 */
    .head-nav table td a
    {
        height:20px;
        line-height:20px;
        color: #FFF;
	}
     
     .head-nav li:hover table
     {
         display:block; /* 鼠标移动到一级菜单上时将二级菜单转换为块级元素 */
     }
     
     .head-nav>li:hover 
     { 
     	background: #16447C;
     }

	/* 导航二级菜单活动伪类样式 */
     .head-nav table td:hover
     {
         text-decoration: underline;
     }
        
     .head-nav table td:hover a
     {
          text-decoration: underline;
	} 
	/** ==============================头部区域导航菜单样式结束================================== */
	
	/* 焦点轮播图区域样式 */
	.slider-wrapper 
	{ 
		height: auto;
		width: 100%;
		margin: 43px auto;
	}
	
	/* 校园新闻动态区域样式 */
/* 	.news
	{
		margin-top: -50px;	
		width: 80%;
		padding-top: 0px;
		max-width: 1021px;
		box-sizing: border-box;
		position: relative;
		margin: 0 auto;
	} */
	
	/* 信息区域样式 */
	#infobox 
	{
		 height: 220px;
		 position: fixed;
		 bottom: 60px;
		 width: 100%;
		 background: #FFF;
	}
	
	/* 信息区域样式 */
	.infobox 
	{
 		margin-top: -25px;
 		width: 220px; /* update: 解决IE8信息列表显示布局混乱bug */
	}
	
	.infoboxtitle 
	{
 		width: 100%;
		height: 30px;
		margin-bottom: 6px;
	}
	
	.infoboxtitle>span
	{
		color: #0E419C;
		font-size: 14px;
		font-weight: bold;
		font-family: "微软雅黑","Microsoft yahei",Tahoma,Verdana,Arial,sans-serif;
		line-height: 30px;
	}
	
	.infoboxtitle .en
	{
		color: #aaa;
		font-size: 12px;
		margin-left: 5px;
		line-height: 30px;
	}
	
	.infoboxtitle .more
	{
		color: #0E419C;
	}
	
	.infoboxtitle img 
	{
 		float: left;
	}
	
	.infoboxtitle a 
	{
 		float: right;
		line-height: 30px;
		font-size: 12px;
		background: #FFF;
		padding: 0 5px;
	}
	
	.infobox ul 
	{
 		list-style: none;
	}
	
	.infobox ul li a 
	{
 		width: 100%;
		overflow: hidden;
		height: 25px;
		line-height: 25px;
		font-size: 12px;
		float: left;
		color: #233b2a;
	}
	
	.infobox ul li a:hover
	{
		text-decoration: underline;
		color: #679ad3;
	}
	
	.infobox-speciallink 
	{
 		float: left;
	 	padding: 3px;
	 	line-height: 20px;
	 	margin: 3px 0;
	 	font-size: 12px;
	 	width: 90%;
	 	color: #233B2A;
	}
	
	.infobox-speciallink img
	{
		float: left;
	}
	
	.infobox-speciallink:hover
	{
		text-decoration: underline;
		color: #679AD3;
	} 
	
	.infobox-speciallink img 
	{
 		width: 20px;
		height: 20px;
		float: left;
		margin-right: 10px;
	}
	
	.exlinks 
	{
		clear: both;
 		border-top: 1px solid #CCC;
	 	margin-top: 10px;
	 	text-align: center;
	 	padding-top: 5px;
	}

	.exlinks a 
	{
 		padding: 4px 8px;
 		font-size: 12px;
	}
	
	.exlinks a:hover 
	{
 		background: #679ad3;
 		border-radius: 4px;
	}
	
	
	
	/* 底部版权区样式 */
	#footer 
	{
		 position: fixed;
		 bottom: 0;
		 left: 0;
		 height: 52px;
     	 background: #16447c;
		 width: 100%;
		 padding: 4px 0;
		 z-index: 1000;
	}
	
	
	.row
	{
		width: 1010px;
	}
	
	#footer a, #footer .six, #footer .seven
	{
		color: #679ad3;
	}
	
	.text 
	{
		 font-size: 12px;
		 color: #886e4a;
		 line-height: 20px;
		 padding: 3px 0;
	}
	
	.footerlinks a 
	{
		 height: 20px;
		 float: right;
		 color: #886e4a;
		 line-height: 20px;
		 padding: 3px 0;
		 margin: 0;
		 font-size: 12px;
		 margin-left: 5px;
	}
	
	.linkitem 
	{
		 height: 20px;
		 float: right;
		 color: #886e4a;
		 line-height: 20px;
		 padding: 3px 0;
		 margin: 0;
		 font-size: 12px;
		 margin-left: 5px;
		 cursor: pointer;
	}
	
	.linkitem img 
	{
		 float: left;
	}

	.qr 
	{
		 display: none;
		 position: relative;
		 left: -30px;
		 top: -150px;
	}
	
	.qr img 
	{
		 width: 100px;
		 height: 100px;
		 padding: 10px;
		 background: #CCC;
		 border-radius: 5px;
	}
	
	.linkitem
	{
		 position:relative;
	}
	
	.qr
	{
   		position:absolute;
   		top:-130px;
	}
	
	.linkitem:hover .qr
	{
 		display:block;
	}
	
	/* 解决IE8导航和版权区兼容性问题 */
	.six.columns
	{
 		width: 485px;
	}
	
	.sc-main
	{
 		float:right;
	}

	.three.columns
	{
		 width: 225px;
	}
	
	.nine.columns
	{
 		width: 740px; /* update: width: 710px;*/
	}
	
	/* @media all and(min-width: 550px) {
		.column, .columns {
		    margin-left: 4%; }
	} */	
	
	.three.columns.infobox{
 width:220px;
 /* margin-right: 36px; */
}
.three.columns.infobox ul{
 /* margin-top:12px; */
}

.three.columns.infobox.ljg{
 margin-right:0px;
}
.row.exlinks{
 /* margin-top: 14px; */
}

.three.columns.infobox .infobox-speciallink{
 /* padding: 4px 2px; */
 /* margin-top:5px; */
}

.three.columns.infobox.ljg a.infobox-speciallink{
 /* margin-top: 15px; */
}

.seven.columns.text{
 width: 53%; 
 float: left;
}

.five.columns.footerlinks.phablet-hide{
 /* width: 55%;  */
 float: right;
}
	
	
	
	
	
	
	
	
	
	
	
	#navlist
	 {
		 position: absolute;
		 top: 200px;
		 width: 100%;
		 height: 40px;
		 list-style: none;
		 z-index: 999;
	}
	
	#navlist li 
	{
	 float: left;
	 width: 50%;
	 /* background: orange; */
	}
	
	#navlist .prev 
	{
		 text-indent: -9999px;
		 width: 40px;
		 height: 40px;
		 float: left;
		 background: url(../img/index/slider-prev.png) 0 0 no-repeat;
		 margin-left: 20px;
	}
	
	#navlist .next 
	{
		 text-indent: -9999px;
		 width: 40px;
		 height: 40px;
		 float: right;
		 background: url(../img/index/slider-next.png) 0 0 no-repeat;
		 margin-right: 20px;
	}
	
	
	