<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="org.myblog.model.ArticleVO" alias="article" />
		<typeAlias type="org.myblog.model.ArticleTagVO" alias="articletag" />
		<typeAlias type="org.myblog.model.TagVO" alias="tag" />
		<typeAlias type="org.myblog.model.CategoryVO" alias="category" />
		<typeAlias type="org.myblog.model.UserVO" alias="user" />
		<typeAlias type="org.myblog.model.UserExtVO" alias="userExt" />
		<typeAlias type="org.myblog.model.RoleVO" alias="role" />
		<typeAlias type="org.myblog.model.ResourceVO" alias="resource" />
		<typeAlias type="org.myblog.model.SiteInfoVO" alias="siteinfo"/>
	</typeAliases>
	
</configuration>