<!DOCTYPE html>
<html>
  <head>
    <title>汉口学院国际交流学院-网上报名</title>
	
	<meta charset="utf-8">
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <link href="../resources/front_frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/front_frame/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
   	
   	<link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/1.2.0/semantic.min.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" href="../resources/front_base/css/formValidation.css"/>
    
    <style type="text/css">
    	
    	legend
    	{
    		font-size: 30px;
    		font-weight: bold;
    		color: #16447C;
    		text-align: center;
    		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    	}
    	
    	fieldset
    	{
    		border: none;
    	}
    	
    	.has-error, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline 
    	{
    		color: rgba(0, 0, 0, 0.8);
    	}
    	
    	.help-block
    	{
    		color: red;	
    		font-size: 14px;
    	}
    
    </style>
    

  </head>
  
  <body>
		
		<div class="container">
        <br>

        <form  role="form" method="post"  id="defaultForm">
            <fieldset>
                <legend>汉口学院国际交流学院在线报名申请表</legend>
                <div class="form-group">
                    <label for="name-1" class="control-label">输入您的姓名</label>
                    <input type="text" class="form-control" name="username" id="name-1" class="form-control" placeholder="姓名">
                </div>

                <div class="form-group">
                    <label for="sex-1" class="control-label">选择您的性别</label>

                    <div class="radio">
                        <label>
                            <input type="radio" name="sex" id="sex-1">男
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="sex" id="sex-2">女
                        </label>
                    </div>

                </div>
                
                <div class="form-group">
                    <label for="name-1" class="control-label">输入您的省份</label>
                    <input type="text" class="form-control" name="province" id="name-1" class="form-control" placeholder="省份">
                </div>
                
                <div class="form-group">
                    <label for="pay-1" class="control-label">输入您的省份</label>
                    <select name=""  id="pay-1" class="form-control">
                        <option value="" selected="selected">--请选择--</option>
				        <option value="1" title="北京市" >北京市</option>
				        <option value="2" title="上海市" >上海市</option>
				        <option value="3" title="天津市" >天津市</option>
				        <option value="4" title="重庆市" >重庆市</option>
				        <option value="5" title="安徽省" >安徽省</option>
				        <option value="6" title="福建省" >福建省</option>
				        <option value="7" title="广东省" >广东省</option>
				        <option value="8" title="甘肃省" >甘肃省</option>
				        <option value="9" title="广西壮族自治区" >广西壮族自治区</option>
				        <option value="10" title="贵州省" >贵州省</option>
				        <option value="11" title="河北省" >河北省</option>
				        <option value="12" title="河南省" >河南省</option>
				        <option value="13" title="黑龙江省" >黑龙江省</option>
				        <option value="14" title="湖北省" >湖北省</option>
				        <option value="15" title="湖南省" >湖南省</option>
				        <option value="16" title="辽宁省" >辽宁省</option>
				        <option value="17" title="吉林省" >吉林省</option>
				        <option value="18" title="江苏省" >江苏省</option>
				        <option value="19" title="江西省" >江西省</option>
				        <option value="20" title="内蒙古自治区" >内蒙古自治区</option>
				        <option value="21" title="宁夏自治区" >宁夏自治区</option>
				        <option value="22" title="青海省" >青海省</option>
				        <option value="23" title="四川省" >四川省</option>
				        <option value="24" title="陕西省" >陕西省</option>
				        <option value="25" title="山东省" >山东省</option>
				        <option value="26" title="山西省" >山西省</option>
				        <option value="27" title="新疆维吾尔族自治区" >新疆维吾尔族自治区</option>
				        <option value="28" title="西藏自治区" >西藏自治区</option>
				        <option value="29" title="云南省" >云南省</option>
				        <option value="30" title="浙江省" >浙江省</option>
				        <option value="31" title="海南省" >海南省</option>
				        <option value="32" title="香港特别行政区" >香港特别行政区</option>
				        <option value="33" title="澳门特别行政区" >澳门特别行政区</option>
				        <option value="34" title="台湾省" >台湾省</option>
                    </select>
                    <br>
                </div>
                
                
                <div class="form-group">
                    <label for="name-1" class="control-label">输入您的专业</label>
                    <input type="text" class="form-control" name="specialty"  id="name-1" class="form-control" placeholder="专业">
                </div>
                
                <div class="form-group">
                    <label for="name-1" class="control-label">输入您的QQ</label>
                    <input type="text" class="form-control" name="qq" id="name-1" class="form-control" placeholder="QQ">
                </div>
                
                <div class="form-group">
                    <label for="name-1" class="control-label">输入您的高考总分数</label>
                    <input type="text" class="form-control" name="gk_score" id="name-1" class="form-control" placeholder="高考总分数">
                </div>
                
                 <div class="form-group">
                    <label for="name-1" class="control-label">输入您的英语分数</label>
                    <input type="text" class="form-control" name="englise_score" id="name-1" class="form-control" placeholder="英语分数">
                </div>
                
                <div class="form-group">
                    <label for="name-1" class="control-label">输入您的准考证号</label>
                    <input type="text" class="form-control" name="no_ticket" id="name-1" class="form-control" placeholder="准考证号">
                </div>
                
                <div class="form-group">
                    <label for="name-1" class="control-label">输入您的报名号</label>
                    <input type="text" class="form-control" name="reg_number" id="name-1" class="form-control" placeholder="报名号">
                </div>
                
                <div class="form-group">
                    <label for="name-1" class="control-label">输入您的身份证号</label>
                    <input type="text" class="form-control" name="id_number" id="name-1" class="form-control" placeholder="身份证号">
                </div>
                
                <div class="form-group">
                    <label for="name-1" class="control-label">输入您的家庭住址</label>
                    <input type="text" class="form-control" name="homeaddress" id="name-1" class="form-control" placeholder="家庭住址">
                </div>
                
                <div class="form-group">
                    <label for="name-1" class="control-label">输入您的手机号码</label>
                    <input type="text" class="form-control" name="phone" id="name-1" class="form-control" placeholder="手机号码">
                </div>

              <!--   <div class="form-group">
                    <label for="pay-1" class="control-label">选择您的省份</label>
                    <select name="" id="pay-1" class="form-control">
                        <option value="1">月薪1000以下</option>
                        <option value="2">月薪1000 ~ 10000</option>
                        <option value="3">月薪10000以上</option>
                    </select>
                </div> -->
				<div class="form-group">
                <div class="text-center">
                    <button class="btn btn-primary registration_update" type="submit">提 交</button>
                </div>
                </div>
            </fieldset>
        </form>
        <br>

    </div>
    
    <script type="text/javascript" src="../resources/front_frame/jquery/jquery-1.8.3.js"></script>
     <script type="text/javascript" src="../resources/front_frame/validation/jquery.min.js"></script>
     <script type="text/javascript" src="../resources/front_frame/validation/bootstrap.min.js"></script>
     <script type="text/javascript" src="../resources/front_frame/validation/formValidation.js"></script>
     <script type="text/javascript" src="../resources/front_frame/validation/bootstrap.js"></script>
    <script type="text/javascript" src="../resources/front_frame/validation/semantic.js"></script>
    
    <script type="text/javascript">
		
    $(document).ready(function() {
        $('#defaultForm')
            .formValidation({
                message: 'This value is not valid',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    username: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '请输入您的姓名！<span style="color: red; font-weight: bold;">*（不能有空格，与身份证一致）</span>'
                            },
                            
                            regexp: {
                                regexp: /[\u4E00-\u9FA5\uF900-\uFA2D]/,
                                message: '用户名只能包含中文！ '
                            },
                            stringLength: {
                                min: 2,
                                max: 20,
                                message: '姓名必须是大于2且小于20个字符！'
                            }
                        }
                    },
                    /* qq: {
                        validators: {
                            notEmpty: {
                                message: '请输入您的QQ号码！'
                            },
                            regexp: {
                                regexp:/[1-9][0-9]{4,}/,
                                message: '请输入合法的QQ号码！ '
                            }
                        }
                    },
                    homeaddress: {
                        validators: {
                            notEmpty: {
                                message: '请输入您的家庭住址！'
                            }
                        }
                    }, */
                    
                    id_number: {
                        validators: {
                            notEmpty: {
                                message: '请输入您的身份证号！<span style="color: red; font-weight: bold;">*（与本人身份证号一致）</span>'
                            },
                            regexp: {
                                regexp:/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/,
                                message: '请输入合法的身份证号码！ '
                            }
                        }
                    },
                    
                    /* phone: {
                        validators: {
                            notEmpty: {
                                message: '请输入您的手机号码！<span style="color: red; font-weight: bold;">*（手机需确保能联系上）</span>'
                            },
                            regexp: {
                                regexp: /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/,
                                message: '请输入合法的手机号码！ '
                            }
                        }
                    } */
                }
            })
            .on('success.form.fv', function(e) {
                // Prevent form submission
                e.preventDefault();

                // Get the form instance
                var $form = $(e.target);

                // Get the FormValidation instance
                var bv = $form.data('formValidation');

                // Use Ajax to submit form data
                $.post($form.attr('action'), $form.serialize(), function(result) {
                    console.log(result);
                }, 'json');
            });
        
        $(document).on('click', '.registration_update', function()
        	    {
        	    	var 	idNumber = $("input[name='id_number']").val(); 
        	    	var registration = new Object();
        	    	registration.name = $("input[name='username']").val(); 
        			registration.professional = $("input[name='specialty']").val(); 
        			registration.qq = $("input[name='qq']").val(); 
        			registration.homeAddress = $("input[name='homeaddress']").val();
        			registration.phone = $("input[name='phone']").val(); 
        			registration.time = Time( new Date(), "%y-%M-%d %h:%m");
        	        
        	    	$.post('../registration/checked/'+idNumber ,"" , function(result)
        	    	{
        	    		$.post('../registration/save/', registration, function(result)
       	    			{
       	    				
       	    			});
        	    	});	
        	    });
    });
    
    
    
    
	</script>

  </body>
</html>