<?xml version="1.0" encoding="utf8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
         <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
         <property name="url" value="jdbc:mysql://localhost/myblog_2014-12-04?characterEncoding=utf-8"></property>
         <property name="username" value="root"></property>
         <property name="password" value="root"></property>
     </bean>
	
	
</beans>