<?xml version="1.0" encoding="utf8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	 <bean id="categoryDao" class="org.myblog.dao.impls.CategoryDaoImpls">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
     </bean>
	
	<bean id="articleDao" class="org.myblog.dao.impls.ArticleDaoImpls">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
     </bean>
</beans>