
	/* 页面默认清理样式 */
	body
	{
		margin: 0;
		padding: 0;
		min-height: 670px;
		font-family: "Microsoft Yahei";
		overflow: hidden;
	}	
	
	/* 顶部区域样式 */
	#top
	{
		 height: 40px;
 		 width: 100%;
		 position: absolute;
		 top: 0;
		 left: 0;
		 background-color: #FFF;
 		 border-bottom: 3px solid #3E5259;
 		 font-size: 15px;
 		 font-weight: 400;
 		 color: #222;
	}
	
	/* 顶部左侧区域样式 */
	.top-left
	{
		float: left;
	}
	
	/* 顶部左侧区域ul样式 */
	.top-left ul
	{
		list-style-type: none;
		padding-left: 0;
	}
	
	/* 顶部左侧区域列表样式 */
	.top-left ul li
	{
		float: left; 
		height: 40px; 
		line-height: 40px; 
		margin-right: 10px; 
		color: #333;
	}
	
	/* 顶部左侧区域<a>标签样式 */
	.top-left ul li a 
	{
 		color: #333;  
 		text-decoration: none;
	}
	
	/* 顶部左侧区域列表文字样式 */
	.top-left ul li a.sprit 
	{
 		padding-right: 8px;
 		border-right: 1px solid #333;
	}
	
	/* 顶部右侧区域样式 */
	.top-right 
	{
 		float: right;
	}
	
	/* 顶部右侧区域<a>标签样式 */
	.top-right a 
	{
		 height: 20px;
		 margin: 10px 5px;
		 float: left;
		 line-height: 20px;
		 font-size: 14px;
		 color: #333;
		 text-decoration: none;
	}
	
	/* 顶部右侧区域<img>标签样式 */
	.top-right a img 
	{
		 margin-right: 5px;
		 float: left;
	}
	
	/* 顶部右侧搜索区域样式 */
	.searchbox 
	{
 		float: right;
		 margin-left: 10px;
	}

	/* 顶部右侧区域搜索框样式 */
	.searchbox input.inputtext 
	{
		 background: url("../images/search-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    	border: medium none;
    	color: #FFF;
    	float: left;
    	height: 20px;
    	line-height: 20px;
    	padding: 0 30px 0 5px;
    	width: 161px;
    	margin: 10px 0;
    	font-size: 12px;
    	border-radius: 0;
	}
	
	/* 顶部右侧区域搜索按钮样式 */
	.searchbox input.submit 
	{
    	float: left;
    	height: 20px;
    	margin-left: -24px;
    	width: 24px;
    	margin: 10px 0 10px -24px;
	}
	/** ==============================顶部区域样式结束================================== */

	/* 头部区域样式 */
	#head 
	{
		 position: absolute;
		 top: 60px;
		 left: 0;
		 width: 100%;
	}
	
	/* 头部区域导航样式 */
	.head-nav 
	{
 		list-style: none;
	}
	
	/* 头部区域导航列表样式 */
	.head-nav li 
	{
		float: right;
		background: url(../images/right-arrow.png) top right no-repeat;
		padding: 0px 10px;
		height: 40px;
		cursor:pointer;
		position: relative;
		left: 276px;
		/* top: 10px; */
		z-index: 3000;
	}
	
	/* 头部区域导航列表<a>标签样式 */
	.head-nav li a 
	{
 		color: #FFF;
 		line-height:40px;
		font-size: 12px;
		display:block;
		padding-right:5px;
	}
	
	/* 导航二级菜单<table>样式 */
    .head-nav table
    {
        display:none;
        padding:0px 5px 10px 0px;
        position:absolute;
        z-index:999;
        margin-left:-10px;
	}
	
	/* 导航二级菜单<table>下的<td>样式 */
    .head-nav table td
    {
        height:20px;
        min-width:110px;
        padding:5px 12px;
        white-space: nowrap;
        border-bottom: 1px dashed #979494;
        /* background: url(../images/top-subnav-bg.png); */
        background: url(../images/right-arrow.png);
        border:0px;
	}
	
	/* 导航二级菜单<table>下的<a>样式 */
    .head-nav table td a
    {
        height:20px;
        line-height:20px;
        color: #c19a7b;
	}
     
     .head-nav li:hover table
     {
         display:block; /* 鼠标移动到一级菜单上时将二级菜单转换为块级元素 */
     }

	/* 导航二级菜单活动伪类样式 */
     .head-nav table td:hover
     {
         background: url(../images/top-subnav-bg-hover.png) repeat-x;
     }
        
     .head-nav table td:hover a
     {
          color:black; /* 鼠标移动到二级菜单上改变<a>标签字体颜色 */
	} 
	/** ==============================头部区域导航菜单样式结束================================== */
	
	/* 焦点轮播图区域样式 */
	.slider-wrapper 
	{ 
		width: 100%; 
		margin: 43px auto;
	}
	
	/* 校园新闻动态区域样式 */
	.news
	{
		margin-top: -50px;	
		width: 1010px;
		margin: 0 auto;
	}
	
	/* 信息区域样式 */
	#infobox 
	{
		 height: 220px;
		 position: fixed;
		 bottom: 60px;
		 width: 100%;
		 background: #FFF;
	}
	
	/* 信息区域样式 */
	.infobox 
	{
 		margin-top: -25px;
	}
	
	.infoboxtitle 
	{
 		width: 100%;
		height: 30px;
		background: url(../images/infoboxtitle-bg.png) 0 0 repeat-x;
	}
	
	.infoboxtitle img 
	{
 		float: left;
	}
	
	.infoboxtitle a 
	{
 		float: right;
		line-height: 30px;
		font-size: 12px;
		background: #FFF;
		padding: 0 5px;
	}
	
	.infobox ul 
	{
 		list-style: none;
	}
	
	.infobox ul li a 
	{
 		width: 100%;
		overflow: hidden;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
		float: left;
		color: #233b2a;
	}
	
	.infobox-speciallink 
	{
 		float: left;
	 	padding: 8px;
	 	line-height: 20px;
	 	margin: 10px 0;
	 	font-size: 12px;
	 	width: 90%;
	 	border-bottom: 1px solid #CCC;
	}
	
	.infobox-speciallink img 
	{
 		width: 40px;
		height: 40px;
		float: left;
		margin-right: 10px;
	}
	
	.exlinks 
	{
		clear: both;
 		border-top: 1px solid #CCC;
	 	margin-top: 10px;
	 	text-align: center;
	 	padding-top: 5px;
	}

	.exlinks a 
	{
 		padding: 4px 8px;
 		font-size: 12px;
	}
	
	.exlinks a:hover 
	{
 		background: #CCC;
 		border-radius: 4px;
	}
	
	#footer 
	{
		 position: fixed;
		 bottom: 0;
		 left: 0;
		 height: 52px;
		 background: #233B2A;
		 width: 100%;
		 padding: 4px 0;
		 z-index: 1000;
	}
	
	.text 
	{
		 font-size: 12px;
		 color: #886e4a;
		 line-height: 20px;
		 padding: 3px 0;
	}
	
	.footerlinks a 
	{
		 height: 20px;
		 float: right;
		 color: #886e4a;
		 line-height: 20px;
		 padding: 3px 0;
		 margin: 0;
		 font-size: 12px;
		 margin-left: 5px;
	}
	
	.linkitem 
	{
		 height: 20px;
		 float: right;
		 color: #886e4a;
		 line-height: 20px;
		 padding: 3px 0;
		 margin: 0;
		 font-size: 12px;
		 margin-left: 5px;
		 cursor: pointer;
	}
	
	.linkitem img 
	{
		 float: left;
	}

	.qr 
	{
		 display: none;
		 position: relative;
		 left: -30px;
		 top: -150px;
	}
	
	.qr img 
	{
		 width: 100px;
		 height: 100px;
		 padding: 10px;
		 background: #CCC;
		 border-radius: 3px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	#navlist
	 {
		 position: absolute;
		 top: 200px;
		 width: 100%;
		 height: 40px;
		 list-style: none;
		 z-index: 999;
	}
	
	#navlist li 
	{
	 float: left;
	 width: 50%;
	 /* background: orange; */
	}
	
	#navlist .prev 
	{
		 text-indent: -9999px;
		 width: 40px;
		 height: 40px;
		 float: left;
		 background: url(../images/slider-prev.png) 0 0 no-repeat;
		 margin-left: 20px;
	}
	
	#navlist .next 
	{
		 text-indent: -9999px;
		 width: 40px;
		 height: 40px;
		 float: right;
		 background: url(../images/slider-next.png) 0 0 no-repeat;
		 margin-right: 20px;
	}
	
	
	
	
	















